div.info {
	background: $shade1;
	padding: 48px 0px 96px;

	&::after {
		display: table;
		clear: both;
		content: '';
	}

	img {
		float: left;
		margin: 0px 22px 0px 0px;
	}

	p {
		font-size: 16pt;
	}

	&:nth-child(even) {
		background: $colour1 !important;
		color: $shade1;

		img {
			float: right;
			margin-right: 0px;
			margin-left: 22px;
		}
	}

	&.download {
		background: darken($colour1, 10%) !important;
		color: $shade1;

		h1 {
			margin-bottom: 48px;
			font-size: 36pt
		}

		a {
			margin: 0px 8px;
		}
	}

}

@media (max-width: 991px) {
	div.info p {
		font-size: 13.5pt;
	}
	div.info img {
		max-width: 250px;
	}
}
@media (max-width: 768px) {
	div.info img {
		float: none !important;
		width: calc(100% - 60px);
		padding: 0px 30px 15px;
		margin: 0 auto !important;
		display: block;
		clear: both;
		max-width: none;
	}
	div.info h1 {
		font-size: 22pt;
	}
}